<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <connectionStrings>
    <add name="conStrBlogPost" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\test\Day_16\ORMSolution\DFAConsoleApp\ContentDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ContentDBEntities" connectionString="metadata=res://*/BlogPostModel.csdl|res://*/BlogPostModel.ssdl|res://*/BlogPostModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ContentDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>