
@{
    ViewBag.Title = "IACSD";
}

<h2>IACSD</h2>

<h2> Welcome to Transflower</h2>
<p>Doing ordinary things, extraorinarily</p>

<ol>
    <li>Consulting</li>
    <li>Mentoring</li>
    <<li>Training</li>
</ol>

