
@{
    ViewBag.Title = "delete";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h2>delete</h2>
    <input type="text" name="id" />
    <input type="submit" name="btn" value="delete" />




}