
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Online Shopping Application</h1>
<app-root></app-root>


<script type="text/javascript" src="~/Scripts/spa/runtime.js"></script>
<script type="text/javascript" src="~/Scripts/spa/es2015-polyfills.js" nomodule>
</script>
<script type="text/javascript" src="~/Scripts/spa/polyfills.js"></script>
<script type="text/javascript" src="~/Scripts/spa/styles.js"></script>
<script type="text/javascript" src="~/Scripts/spa/vendor.js"></script>
<script type="text/javascript" src="~/Scripts/spa/main.js">
</script>

