@model ECommerceWeb.Models.Vendor

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Vendors </h2>

<ol>

    <li>IACSD</li>
    <li>Sunbeam</li>
    <li>ACTS</li>
    <li>KnowIT</li>
</ol>

<h2> Vendor Details</h2>

<p> @Model.ID</p>
<p> <b> <u>@Model.Name</u></b></p>
<p>@Model.Email</p>
<p>@Model.Budget</p>
