
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="Register" method="POST">
    Id<input type="text" name="id">
    FirstName<input type="text" name="FirstName">
    LastName<input type="text" name="LastName">
    Email<input type="text" name="Email">
    city<input type="text" name="city">
    <input type="submit" name="btn"> 
</form>

