
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Welcome to TRansflower STore</h1>
<a href="/services">Services</a>
<a href="/products/index">Services</a>
<a href="/aboutus">About Us</a>
<a href="/contactus" >Contact Us</a>

